 <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>разбираемся</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <h1>Как же с этим разобраться?</h1>
        <h2>Рассказываю быстро</h2>
        <h3>Запоминай</h3>
        <embed type="video/webm" src="/static/video/vernimoykasar.mp4" width="500" height="500">
        <h3>Ой не то...</h3>
        <h3>Вот то что надо!</h3>
        <embed type="video/webm" src="/static/video/poteplenie.mp4" width="500" height="500">
        <ol>Список того что надо делать для победы над потеплением:
            <li>Посмотрите видео</li>
            <li>Меньше пользуйтесь машинами или пересаживайтесь на электромобили</li>
            <li>Экономьте энергию дома</li>
            <li>Сокращайте потребление, используйте вещи повторно, ремонтируйте их и отправляйте на вторичную переработку</li>
            <li>Выбрасывайте меньше продуктов питания</li>
            <li>Употребляйте больше овощей</li>
            <li>Продумывайте свои поездки</li>
            <li>Поменяйте источник домашнего энергоснабжения</li>

        </ol>
        <h3>А теперь загадка по глобальному потеплению</h3>
        <details>
            <summary>Золотая кошка лезет к нам в окошко.</summary>
            солнце
        </details>


        <h3>Опасность проблемы к 2025 году:</h3 ><progress id="file" max="100" value="50"></progress>

</head>
<body>

</body>
</html>