<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>nerd</title>
    <h3>Взято с сайта организации Объединеных Наций!</h3>
    <h3>Беспрецедентные изменения 

        Изменение климата, вызванное деятельностью человека, уже сегодня приводит к многочисленным случаям экстремальной погоды во всех регионах планеты. Более того, по данным ученых, меняется вся климатическая система Земли, и эти изменения сказываются на состоянии атмосферы, океанов, ледовых покровов и поверхности Земли. Многие из этих изменений беспрецедентны, а некоторые тенденции – например, рост уровня океана – в ближайшие века или даже тысячелетие невозможно обратить вспять. 
        Soundcloud
        
         
        
        Однако в силах человечества ограничить масштабы изменения климата, считают авторы доклада – 234 эксперта из 66 стран мира: существенно сократив выбросы в атмосферу вредных веществ, в том числе парниковых газов, можно в короткие сроки значительно улучшить качество воздуха и стабилизировать глобальную температуру. 
        Сигнал тревоги для человечества 
         
        «Нулевые выбросы» означают, что объемы эмиссий углекислого газа не превышают его объемов, поглощаемых океанами и лесами.
        Фото CIFOR/Н.Суджана
        «Нулевые выбросы» означают, что объемы эмиссий углекислого газа не превышают его объемов, поглощаемых океанами и лесами.
        
        По мнению Генерального секретаря ООН Антониу Гутерриша, доклад Рабочей группы не что иное, как сигнал тревоги для всего человечества. «Этот набат оглушителен, а представленные свидетельства неоспоримы», –  прокомментировал глава ООН выводы ученых. 
        
            Этот набат оглушителен, а представленные свидетельства неоспоримы
        
        Он напомнил, что международное сообщество согласилось удержать глобальное повышение температуры на уровне не более 1,5 градуса, однако уже в ближайшее время, если не принять срочных мер, этот порог будет перейден. «Мы должны действовать решительно, чтобы не допустить этого», – предупредил Гутерриш. 
        
        Он отметил, что в преддверии конференции по климату, которая состоится в Глазго в ноябре, все страны, а особенно входящие в Группу двадцати, должны подтвердить свою приверженность борьбе с изменением климата, в том числе примкнуть к коалиции «нулевых выбросов». 
        Время на исходе
        Ледники в Исландии.
        Unsplash/Р.Десгагнес
        Ледники в Исландии.
        
        Как указывается в отчете, выбросы парниковых газов в результате деятельности человека были основной причиной потепления глобального климата примерно на 1,1 градуса по шкале Цельсия в период с 1850 по 1900 годы. Ожидается, что в ближайшие 20 лет этот уровень в среднем достигнет или превысит 1,5 градуса. 
         
        «Этот отчет – трезвая оценка того, какой будет реальность в ближайшие десятилетия, – говорит сопредседатель рабочей группы экспертов Валери Массон-Дельмот. – Теперь мы имеем гораздо более четкую картину прошлого, настоящего и будущего климата Земли, что очень важно для понимания того, куда мы движемся, что мы еще можем сделать и как нам следует подготовиться к будущим изменениям».
         
        Согласно прогнозам ученых, в ближайшие десятилетия климатические изменения будут нарастать во всех регионах планеты, в частности, будут увеличиваться периоды длительной жары и сокращаться холодные сезоны. При глобальном потеплении на два градуса по шкале Цельсия пострадает, прежде всего, сельское хозяйство и усилится нагрузка на системы здравоохранения. 
        Последствия изменения климата 
         
        Для борьбы с изменением климата необходимо сократить вредные выбросы в атмосферу.
        Фото ООН/Д.Дикенсон
        Для борьбы с изменением климата необходимо сократить вредные выбросы в атмосферу.
        
        Но дело не только в повышении температуры. Изменение климата приводит к множеству непрогнозируемых последствий в самых разных сферах, в том числе:
         
        ● Изменение климата усиливает круговорот воды, что в одних регионах приводит к интенсивным осадкам и связанным с этим наводнениям, а в других – к экстремальным засухам.
         
        ● Изменение климата влияет на характер выпадения осадков. В высоких широтах вероятность выпадения осадков увеличивается, в то время как на территории большей части субтропиков происходит их уменьшение. 
         
        ● В прибрежных районах в XXI веке будет продолжаться тенденция подъема уровня моря, что, в свою очередь, будет способствовать более частым и сильным наводнениям в низинных районах и эрозии почвы. Экстремальные изменения уровня моря, которые раньше происходили один раз в 100 лет, будут происходить ежегодно ближе к концу нынешнего века.
         
        ● Дальнейшее потепление усилит таяние вечной мерзлоты, потерю снежного покрова и сокращения ледников в Арктике.
         
        ● Изменения в состоянии мирового океана вызовут более частые приливы теплых течений, что отразится на экосистеме океана и на положении людей, которые живут за счет рыбной ловли.
         
        ● Отдельные аспекты изменения климата могут отразиться на жителях городов, которые почувствуют потепление климата, а также столкнутся с наводнениями из-за сильных осадков и повышения уровня моря в прибрежных регионах.
         
        «В процессе многолетнего изучения степени влияния человека на изменения климата Земли мы однозначно выяснили, и негативная роль человеческого воздействия не вызывает сомнений, – говорит Валери Массон-Дельмот. – Увеличение содержания углекислого газа в атмосфере является основной движущей силой изменения климата, и мы обязаны воспринимать этот фактор как данность».</h3>
</head>
</head>
<body>
    
</body>
</html>