<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>шаблон</title>
        
        <div>начинающий шаблон</div>
        <ul>
            <li>шаблон</li>
            <li>шаблон</li>
            



        </ul>
        <address>
            <a href="artemuspeh.zaripov@gmail.com">шаблон</a>
            <a href="79870183022">шаблон</a>

        </address>
        <ruby> шаблон <rp>(</rp><rt>шаблон</rt><rp>)</rp> </ruby>
        <h1>сигмо свинка</h1>
        <audio controls src="shablon.mp3" >шаблонсигма свинка </audio>
        <embed type="video/webm" src="vernimoykasar.mp4" width="500" height="500">
</head>
<body>
    
</body>
</html>