<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>У нас проблемы, Хьюстон!</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <h1>У нашего мира большие проблемы c потеплением, но не простым, а ГЛОБАЛЬНЫМ!</h1>
        <img src="/static/img/aisberg.jpeg" width="1000" lenght="1000">
            <h2>А почему?</h2>
            <h3>Все дело в нас - людях! </h3>
            <h4>Люди загрязняют атмосферу выхлопными газами, пользуясь своими автомобилями.</h4>
            <img src="/static/img/cargas.jpeg" width="900" lenght="1000">
            <h4> Также стоит обратить внимание на незаконную вырубку лесов и большое количество заводов.</h4>
            <p class="thumb">
                <img src="/static/img/forest.jpeg" alt="фотография 1" width="500" lenght="500">
                <img src="/static/img/fabric.jpeg" alt="фотография 2" width="500" lenght="500">

            </p>



            <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%BB%D0%BE%D0%B1%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D0%BF%D0%BE%D1%82%D0%B5%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5">Статья на википедии</a>
            <h4>А давай узнаем как быстро остановить потепление?</h4>
            <a href="/howtodealwith" class="howtodealwith">А как же нам его остановить?</a>
            <a href="/meme">Для юмористов</a>
            <div><a href="/nerd" сюда>Для задротов</a></div>


</head>
<body>

</body>
</html>